.banner{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    img{
        width: 100%;
    }
}
.advertising{
    max-width: 600px;
}
.home__product{
    color: #191919;
    padding: 100px 32px;
    h2{
        font-size: 24px;
        display: flex;
        gap: 25px;
    }
}
.product__card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #191919;
    padding: 20px;
    background-color: #00000005;
    width: 250px;
    height: 320px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    img{
        width: 100% !important;
        object-fit: cover !important;
        height: 180px !important;
        margin-bottom: 16px;
        border-radius: 5px;
    }
}
footer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div, ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
        h4{
            color: #5e5d5d;
            font-size: 18px;
            font-weight: 600;
        }
        .footer__text{
            color: gray;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 600px){
    .banner{
        margin: 16px 0;
    }
    .home__product{
        padding: 50px 16px;
        h2{
            font-size: 16px;
        }
    }
    .product__card{
        height: 150px;
        padding: 8px;
        img{
            height: 80px !important;
        }
        h3{
            font-size: 12px;
            margin-bottom: 5px;
        }
        strong{
            font-size: 14px;
        }
    }
}